/*NAVIGATION BAR*/
.navbar {
    border: none;
    position: fixed;
    border-radius: 0px !important;
    height: 64px !important;
    margin: 0 !important;
    width: 100% !important;
    z-index: 100 !important;
}
.nav-margin {
    margin: 7.5px 15px !important;
}


.box-1 {
    padding: 50px;
    min-height: calc(100vh);
}
.box-1 h1 {
    font-size: 6vmax;
    font-weight: bold;
}
.box-1 h2 {
    font-weight: lighter;
}
.box-1 h3 {
    font-size: 24px;
    font-weight: bold;
}

.box-2 {
    padding: 40px;
}

.bg-transparent {
    background: none !important;
    backdrop-filter: blur(8px);
}
.bg-transparent li a, .bg-transparent .navbar-brand{
    color: white !important;
}
.bg-transparent li a:hover{
    color: black !important;
    background-color: rgba(255,255,255,0.3) !important;
}
.dr {
}

.glyphicon {
    top: 0;
}
.drs:hover + .nav-list{
    display: block !important;
}
.dr-menu{
    display: block;
    position: relative;
    text-align: center;
    background: none;
    border: none;
    font-size: 20px;
}
.dr-toggle {
    display: none;
}

.subtitle {
    width: 200px;
    margin: auto;
    line-height: 2;
    border-bottom: 1px solid yellow;
}

.vertical-center {
    height: calc(100vh - 64px) !important;
    display: flex;
    align-items: center;
}
.table-justify {
    display: flex;
    justify-items: center;
}

.mylabel {
    font-size: 40px;
}
.harga {
    font-size: 36px;
}

.panel {
    width: 40%;
}

.panel:hover {
    box-shadow: 0 0 10px 1px #000000;
    transition: 0.3s;
}

@media screen and (max-width: 768px){

    .dr {
        text-align: center;
        position: absolute;
        width: 100vw;
        top: 0;
        padding: 20px 40px;
    }
    .dr-menu{
        display: none;
        position: absolute;
        right: 0 !important;
        width: 100vw !important;
        text-align: center;
        z-index: 100;
        top: 60px;
        backdrop-filter: blur(8px);
    }
    .dr-toggle {
        display: block;
        float: right;
    }
    .dr-toggle:focus + .dr-menu{
        display: block;
        background-color: #00000000;
        backdrop-filter: blur(8px);
        transition: all 0.5s;
    }
    .dr-toggle:not(focus) + .dr-menu, .dr-toggle:double-button + .dr-menu{
        display: none;
        transition: all 0.5s;
    }



    .navbar-header{
        width: 80%;
        float: left;
    }
    .panel {
        width: 100%;
    }


}