body {
    overflow-y: scroll;
}
.padding-top-xl {
    padding: 60px;
}

.padding-xl {
    padding: 60px 30px;
}

.padding-lg {
    padding: 40px 20px;
}

.padding-md {
    padding: 30px 15px;
}

.padding-sm {
    padding: 20px 10px;
}

.padding-xs{
    padding: 10px 5px;
}

.padding-xl-reverse {
    padding: 30px 60px;
}

.padding-lg-reverse {
    padding: 20px 40px;
}

.padding-md-reverse {
    padding: 15px 30px;
}

.padding-sm-reverse {
    padding: 10px 20px;
}

.padding-xs-reverse {
    padding: 5px 10px;
}

.margin-xl {
    margin: 48px;
}
.margin-lg {
    margin: 30px;
}
.margin-md {
    margin: 24px;
}
.margin-sm {
    margin: 18px;
}
.margin-xs {
    margin: 12px;
}
.line-12 {
    line-height: 1.2em;
}
.line-16 {
    line-height: 1.6em;
}
.line-20 {
    line-height: 2em;
}
.line-24 {
    line-height: 2.4em;
}
.line-40 {
    line-height: 4em;
}

.line-normal {
    line-height: normal;
}

.fz-14 {
    font-size: 14px;
}
.fz-16 {
    font-size: 16px;
}
.fz-18 {
    font-size: 18px;
}
.fz-20 {
    font-size: 20px;
}
.fz-30 {
    font-size: 30px;
}
.fz-40 {
    font-size: 40px;
}
.fz-60 {
    font-size: 60px;
}

.box-shadow-10 {
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    z-index: 10;
}
.box-shadow-5 {
    box-shadow: 0 0 5px rgba(0,0,0,0.6);
    z-index: 5;
}
.box-shadow-20 {
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);
    z-index: 20;
}
.box-hover-shadow-5:hover {
    box-shadow: 0 5px 5px rgba(0,0,0,0.6);

}
.box-hover-shadow-10:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.6);


}
.box-hover-shadow-20:hover {
    box-shadow: 0 5px 20px rgba(0,0,0,0.6);

}
.transition-5 {
    transition: all 0.5s;
}

.color-white {
    color: white;
}
.color-black-60 {
    color: rgba(0,0,0,0.6);
}
.color-white-60 {
    color: rgba(255,255,255,0.6);
}
.color-white-80 {
    color: rgba(255,255,255, 0.8);
}
.fw-bold {
    font-weight: bold;
}
.fw-thin {
    font-weight: lighter;
}
.fw-normal {
    font-weight: normal;
}
.bg-white {
    background-color: white;
}
.bg-black {
    background-color: black;
}
.bg-black-30 {
    background-color: rgba(0,0,0,0.3);
}
.bg-black-60 {
    background-color: rgba(0,0,0,0.6);
}
.bg-black-90 {
    background-color: rgba(0,0,0,0.9);
}

.transformY-100 {
    transform: translateY(-100px);
    transition: all 0.5s;
}
.transformY-100-remove {
    transition: all 0.5s;
}

.bg-cover {
    background-size: cover;
}
.bg-contain {
    background-size: contain;
}

.bg-fixed {
    background-attachment: fixed;
}

.device-min-height {
    min-height: calc(100vh + 120px);
}
.device-height {
    height: calc(100vh + 64px);
}
.margin-auto {
    margin: auto;
}

.width-min-full {
    min-width: 750px;
}
.border-radius-10 {
    border-radius: 10px;
}
.border-radius-20 {
    border-radius: 20px;
}
.border-radius-30 {
    border-radius: 30px;
}
.width-600 {
    width: 600px;
}
.vertical-center-parent {
    position: relative;
}
.vertical-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.width-max-992 {
    max-width: 992px;
}
.height-full {
    height: 100%;
}

.inherit-height-and-width {
    height: inherit;
    width: inherit;
}

.image-boba {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-position: center;
}

#scroller {
    min-width: 40px;
    min-height: 40px;
    display: block;
    position: fixed;
    bottom: -80px;
    right: 15px;
    border: 1px solid rgba(0,0,0,0.5);
}
#scroller:hover {
    cursor: pointer;
}

.icon {
    width: 50px;
    margin: 20px;
}

.icon-sm {
    width: 50px;
    margin: 5px;
}

.glyphicon {
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: normal;
    line-height: 40px;
    vertical-align: middle;
}

.panel {
    border: 1px solid rgba(0,0,0,0.6);
}

.height-half {
    min-height: 400px;
}

.btn {
    border: none;
}
.btn:hover {
    transform: translateY(-1px);
}
.btn-danger {
    border-radius: 3px;
}
.bg-2:hover{
    background-color: #e4002b;
}

.border-black-30-1{
    border: 1px solid rgba(0,0,0,0.3);
}

.border-black-60-1{
    border: 1px solid rgba(0,0,0,0.6);
}

.border-black-90-1{
    border: 1px solid rgba(0,0,0,0.9);
}

.width-max-size-500{
    max-width: 500px;
}

.transformY-5-hover:hover{
    transform: translateY(-5px);
}

.margin-0 {
    margin: 0;
}

.height-auto {
    height: auto;

}

ul li{
    list-style: none;
}

@media screen and (min-width: 1500px) {
    .device-min-height{
        min-height: 700px
    }
    .device-height {
        height: auto;
    }
    .vertical-center {
        position: relative;
        transform: none;
        top: 0;
        left: 0;

    }

}

#home-1 .container{
    padding: 0 !important;
}

/*BOOTSTRAP NAVBAR*/
.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
    font-weight: bold;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}

/* Dropdown */
.open .dropdown-toggle {
    color: #fff ;
    background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
    color: #000 !important;
}

/* On hover, the dropdown links will turn red */
.dropdown-menu li a:hover {
    background-color: rgb(42, 13, 0) !important;
    color: white !important;
}

@media screen and (max-width: 992px){

    .navbar {
        letter-spacing: 2px;
    }
}

.padding-top-nav {
    padding-top: 64px;
}

.border-none {
    border: none;
}

.text-justify {
    text-align: justify;
}

.share-feature {
    position: absolute;
    top: 0;
    right: 0;
}

div #title {
    font-size: calc(3vw + 17px) !important;
    letter-spacing: 2vw;
}
.box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

#promos #top {
    height: auto !important;
}